<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button color="dark" fill="clear" (click)="close()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <div class="info">
        <p class="info__title">Register Farmer</p>
        <p class="info__subtitle ion-margin-bottom">Create an account to
          access all sourcing app features</p>
      </div>
      <div class="form">
        <ion-label class="form__label">Name</ion-label>
        <ion-input class="form__input ion-margin-bottom"
          mode="md"
          aria-label="Name"
          placeholder="Name"
          fill="outline"
          type="text"
          formControlName="name">
        </ion-input>
        <form>
            <ion-button class="btn ion-margin-bottom" expand="full" color="success"
            (click)="submit()"
            fill="solid">Continue</ion-button>
        </div>
        </form>
      </div>
  </ion-content>